<section>
  <h2>Información del perfil</h2>
  <ul>
    <li><strong>Nombre:</strong> {{userToRender.first_name}}</li>
    <li><strong>Apellido:</strong> {{userToRender.last_name}}</li>
    <li><strong>Rol:</strong> {{userToRender.role}}</li>
    <li><strong>Email:</strong> {{userToRender.email}}</li>
  </ul>
</section>